dist/** linguist-generated=true
dist/github-contribution-grid-snake-dark.svg linguist-generated=true
dist/github-contribution-grid-snake.svg linguist-generated=true
github-contribution-grid-snake-dark.svg linguist-generated=true
github-contribution-grid-snake.svg linguist-generated=true
